@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
}


/* width */

::-webkit-scrollbar {
    width: 0px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.hero {
    background-image: url("../public/images/hero-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
}

.about {
    background-image: url("../public/images/about-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.issue--listing {
    background-image: url("../public/images/issues-listing-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.actions--banner {
    background-image: url("../public/images/actions-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}