@tailwind base;
@tailwind components;
@tailwind utilities;
.hero {
    background-image: url("../public/images/hero-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
}

.about {
    background-image: url("../public/images/about-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}